appdirs==1.4.4
aws-xray-sdk==2.6.0
black==20.8b1
boto3==1.16.9
botocore==1.19.9
coverage==5.3
docker==4.3.1
flake8==3.8.4
mock==4.0.2
numpy==1.22.0
pandas==1.1.4
ujson==5.5.0
pytest==6.1.2
pytz==2020.4
PyYAML==5.4
requests==2.24.0
responses==0.12.0
sinfo==0.3.1
umap-learn==0.4.6
watchdog==0.10.3
backoff==1.10.0
socket_io_emitter==0.1.5.1
redis==2.10.5
pytest-cov==2.10.1
pytest-mock==3.7.0
